.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide-panel {
    width: 60%;
    margin: 2rem;
    color: rgb(62, 56, 50);
 }

.lenkeliste {
    padding-inline-start: 1rem;
}