---
import { fetchDecoratorReact } from "@navikt/nav-dekoratoren-moduler/ssr";
import Ettersending from "../components/ettersending/Ettersending";
import { getEnvironment } from "../environment";
import "./index.css";

const env = getEnvironment();
const decoratorEnv = env === "dev" ? "devNext" : env;

const Decorator = await fetchDecoratorReact({
  env: decoratorEnv as const,
  params: {
    context: "privatperson",
  }
});
---

<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <title>Ettersending</title>
    <link rel="preload" href="https://cdn.nav.no/aksel/@navikt/ds-css/6.1.0/index.min.css" as="style" />
    <link rel="stylesheet" href="https://cdn.nav.no/aksel/@navikt/ds-css/6.1.0/index.min.css" />
    <Decorator.Styles />
  </head>
  <body>
    <Decorator.Header />
    <main>
      <div class="app">
        <Ettersending />
      </div>
    </main>
    <Decorator.Footer />
    <Decorator.Scripts />
  </body>
</html>
