.lenkepanel {
    width: 37.5rem;
    margin-bottom: 2rem;
}

.header {
    padding: 1rem 0 0 1rem;
}

.lenke-wrapper {
    padding: 1rem;
}

.lenke {
    font-weight: bold;
}

.ingress {
    padding-top: 0.2rem;
    color: rgb(62, 56, 50);
}